.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rectangle {
  border: 1px solid #ff0000;
  position: absolute;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 20px 20px;
  background-color: #3f51b5;
  display: inline-block;
  width: 400px;
  text-align: center;
  text-transform: uppercase;
}

.inputfile:focus + label,
.inputfile + label:hover {
  /* background-color: red; */
}

ul {
  padding: 0px;
}
ul li {
  border: 1px solid #d1d1d1;
  padding: 20px;
  list-style: none;
  display: block;
  /* width: fit-content; */
  margin-top: 10px;
  max-width: 400px;
}
ul li p {
  display: inline;
  margin-right: 10px;
}

.parent {
  background: #eee;
  padding: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
